<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestSuite" verbose="1">

    <!-- Run only login tests (includes valid and invalid credentials) -->
    <test name="LoginTests">
        <groups>
            <run>
                <include name="login"/>
            </run>
        </groups>
        <classes>
            <class name="Tests.LoginTest"/>
        </classes>
    </test>

    <!-- Run only inventory tests (no login validation tests) -->
    <test name="InventoryTests">
        <groups>
            <run>
                <include name="inventory"/>
            </run>
        </groups>
        <classes>
            <class name="Tests.PopulateInventoryFormTest"/>
        </classes>
    </test>

    <!-- Run all tests -->
    <test name="AllTests">
        <classes>
            <class name="Tests.LoginTest"/>
            <class name="Tests.PopulateInventoryFormTest"/>
        </classes>
    </test>

</suite></content>
<parameter name="filePath">C:\Users\mathe\Documents\TestAutomationProjects\NdosiAutomationMonth1Project_Nokie\testng.xml
